/* /* CSS HEX 
--dark-turquoise: #25ced1ff;
--white: #ffffffff;
--champagne-pink: #fceadeff;
--coral: #ff8a5bff;
--paradise-pink: #ea526fff; */



/* Full size */


body{
    background-color: whitesmoke;
    margin: 0%;
}

.headerMenu {
    background-color: whitesmoke;
    margin: 0px;
    text-align: center;
    padding: 8vh;
}

.headerDivide {
    background-color: #343a40;
    margin: 0px;
    text-align: left;
    padding: 1vh;
    color: #fceadeff;
    font-family: 'Dosis';
    font-size: 100%;

}

.headerDivideMenu{
    background-color: #343a40;
    margin: 0px;
    text-align: center;
    padding: 1vh;
    color: #fceadeff;
    font-family: 'Dosis';
    font-size: 100%;
}

.alignHeaderLinks
{
    display:flex;
}

.headerLinkFormat{
    text-align:center;
    width: 25%;
    
}

.headerMenuFont{
    color: #fceadeff;
    font-family: 'Dosis';
    font-size: 100%;
    text-decoration: none;
}

.alignMainLinks
{
    display:flex;
}

.linkWidth
{
    text-align: center;
    width: 50%;
    margin: 3%;
padding: 13vh;

}

.titleWidth
{
    text-align: center;
    width: 15%;
    margin: 3%;
padding: 5vh;

}

.linkText
{
    color: white;
    font-family: 'Alfa Slab One';
    text-decoration: none;
    font-size: 300%;
    text-transform: capitalize;
}

.titleText
{
    color: white;
    font-family: 'Alfa Slab One';
    text-decoration: none;
    font-size: 200%;
    text-transform: capitalize;
}
.paragraphText{
    color: #343a40;
    font-family: 'Alfa Slab One';
    font-size: 100%;
}

#mainHeader{
    text-decoration: none;
    color: #343a40;
    font-family: 'Alfa Slab One';
    font-size: 200%;
}



#boxOne{
    background-color: #25ced1ff;
    
}

#boxTwo{
    background-color: #f4e789;
}

#boxThree{
    background-color: #ff8a5bff;
}

#boxFour{
    background-color: #ea526fff;;
}

#boxFive{
    background-color: #343a40;
}
/* Tablet dimension - 768 X 1024*/
@media only screen and (max-width: 1199px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
            }
        
        :root {
            min-width: 100vw;
        }
        
        html {
            min-width: 100vw;
        }
        
        body {
            min-width: 100vw;
        }
        .linkWidth
        {
            text-align: center;
            width: 50%;
            margin: 3%;
        padding: 5vw;
        
}

.linkText
{
    color: white;
    font-family: 'Alfa Slab One';
    text-decoration: none;
    font-size: 5vw;
    text-transform: capitalize;
}

/* Phone dimensions - 320-576px  - 320x480*/

@media only screen and (max-width: 576px) {

* {
padding: 0;
margin: 0;
box-sizing: border-box;
    }

:root {
    min-width: 100vw;
}

html {
    min-width: 100vw;
}

body {
    min-width: 100vw;
}

.paragraphText{
    max-width: 100vw;
}

.linkText
{
    color: white;
    font-family: 'Alfa Slab One';
    text-decoration: none;
    font-size: 5vw;
    text-transform: capitalize;
}

.linkWidth
{
    text-align: center;
    width: 50%;
    margin: 3%;
padding: 5vw;

}
.alignMainNone
{
    display:inline;
}

}
.titleWidth
{
    text-align: center;
    width: 90%;
    margin: 3%;
padding: 5vh;

}